<!DOCTYPE html>
<html>
  <head>
    <title>Culinary Collections</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {{!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> --}}
    <link rel='stylesheet' href='/stylesheets/style.css'/>
<link href="https://fonts.googleapis.com/css?family=Oswald:200" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>


{{!------bootstrap navbar --}}
        <nav class="navbar navbar-fixed-top" role="nagivation">
            <div class="nav-container">
                <div class="navbar-header">
                      {{!-- Search bar--}}
                      <form method="get" action="/recipes/search" class="navbar-logo">
                      <input type="search" name="recipeSearchTerm" placeholder="Search for a recipe...">
                      <button type="submit" class="btn btn-default search-btn"><i class="glyphicon glyphicon-search"></i></button> 
                    </form>
              </div>

   
      <div class="rightNav collapse navbar-collapse" id="#navbar-collapse-main">

                <div class="dropdown">
                  <a onclick="myFunction()" class="dropbtn"><img class="hamburger" src="../images/588a64e7d06f6719692a2d11.png"></a>
                  <div id="myDropdown" class="dropdown-content">
                      {{!-- <a href="/home">Home</a> --}}
                      <a class= "navText" href="/recipes">Recipes</a>
                      <a class= "navText" href="/submit-recipe">Submit a Recipe</a>
                      <a class= "navText" href="/logout">Logout</a>
                  </div>
                  <div class="navLinks">
                  <ul class="nav navbar-nav navbar-right">
                    <li class= "navText"><a href="/">Login</a></li>
                    {{!-- <li class= "active"><a href="/home">Home</a></li> --}}
                    <li><a class= "navText" href="/recipes">Recipes</a></li>
                    <li><a class= "navText" href="/submit-recipe">Submit a Recipe</a></li>
                    <li><a class= "navText" href="/logout">Logout</a></li>
                  </ul>

                  </div>
    </div>
    </div>
</nav>
      <br>
        {{{body}}}

    <script src='/javascripts/script.js'></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
