blah
<br>
blah
<br> 
blah
<br>

{{#if user}}
  <div>
    <a href="/">Index</a>
    <a href="/logout">Logout</a>
  </div>
{{/if}}

{{!-- //need for each look that prints each theRecipe
// work on recipes API once routes are functioning --}}

{{theRecipe}}