


<div id="home">
    <div class="landing-text">
        <h1>{{title}}</h1>

        <div class="login-form">
    <form action="/user-login" method="post">	
        <div class="text-center social-btn">
			<a href="/auth/google" class="btn btn-danger center-block"><i class="fa fa-google"></i> Sign up with <b>Google</b></a>
        </div>
                     
		<div class="or-seperator"><i>or</i></div>
        <div class="form-group">
            <label>Pick a username: </label>
            <br>
        	<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                
                <input type="text" class="form-control" name="username" placeholder="username" required="required">
            </div>
        </div>
		<div class="form-group">
              <label>Password: </label>
              <br>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" name="password" placeholder="password" required="required">
            
            
            </div>
        </div>        
        <div class="form-group">
          <form action="/user-login" method="POST">
            <button type="submit" class="btn btn-success btn-block login-btn">Create</button>

        </div>
             {{#if message}}
            <div class="error-message">{{ message }}</div>
            {{/if}}
            <br>
            <div class="hint-text small">Already have an account? <a href="/" class="text-success">Login, instead</a></div>
        </div>  
        
    </form>
</div>






{{!-- <div id="home">
    <div class="landing-text">

<form action="/signup" method="POST">
  <label>Preferred Username: </label>
  <br>
  <input id="username" type="text" name="username" placeholder="Enter Username Here">
  <br><br>
  <label>Password: </label>
  <br>

  <input id="password" type="password" name="password" placeholder="Your password">

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

      <button class="btn btn-default btn-sm" value="Log In">Create</button>

  <p class="account-message">
    Already have an account?
    <br>
    <a href="/login">Login Instead</a>
  </p>
</form>
</div>
</div> --}}