<h1>Welcome to Culinary Collections</h1>
<h3>Please Create your account below</h3>

<form action="/signup" method="POST">
  <label>Please Choose a Username</label>
  <input id="username" type="text" name="username" placeholder="Enter Username Here">
  <br><br>
  <label>Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
<br>
<br>
<Br>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

      <button>Create</button>

  <p class="account-message">
    Already have an account?
    <a href="/login">Login Instead</a>
  </p>
</form>