<link href="https://fonts.googleapis.com/css?family=Oswald:200" rel="stylesheet">
{{#if user}}
  {{!-- <div>
    <a href="/">Index</a>
    <a href="/logout">Logout</a>
  </div> --}}
{{/if}}



<div id="submit-recipe">
    <div class="landing-text">
        <h1>Submit a recipe</h1>

        <div class="submit-form">
        <form action="/post/submit-recipe" method="post" enctype="multipart/form-data">	
        <div class="text-center social-btn">
        </div>

        <div class="frm-group">
        	<div class="inputs">
                 <label for="title">Title: </label>
                <input id="title" type="text" class="submit-control" name="theTitle" placeholder="Recipe name">
        </div>   
        <br>
        <div class="frm-group">
        	<div class="inputs">
                <label for="ingredients">Ingredients: </label>
                <input id="ingredients" type="text" class="submit-control" name="theIngredient" placeholder="separate ingredients with a , ">
            </div>
            <br>
            <div class="frm-group">
        	<div class="inputs">
                <label for="cuisine">Cuisine:</label>
                <input id="cuisine" type="text" class="submit-control" name="theCuisine" placeholder="">
            </div>
            <br>
            <div class="frm-group">
        	<div class="inputs">
                <label for="duration">Duration: </label>
                <input id="duration" type="text" class="submit-control" name="theDuration">
            </div>
            <br>
             <div class="frm-group">
        	<div class="inputs-instruction">
                <label for="instructions">Instructions: </label>
                <input id="instructions" type="text" class="submit-control" name="theInstructions" placeholder="separate steps with a ,">
            </div>
            <br>
            <div class="frm-group">
            <div class="inputs">
              <label for="recipeLevel">Level: </label>
              <select id=“level” name=“level”>
                    <option value=“Easy-Peasy”>Easy Peasy</option>
                    <option value=“Amateur-Chef”>Amateur Chef</option>
                    <option value=“Pro-Chef”>Pro Top Chef</option>
                  </select>
            </div>
        </div>     
        <br>
            <div class="frm-group">
        	<div class="inputs">
                <label for="dishType">Dishtype: </label>
                  <select id=“dishType” name=“dishType”>
                    <option value=“Breakfast”>Breakfast</option>
                    <option value=“Lunch”>Lunch</option>
                    <option value=“Snack”>Snack</option>
                    <option value=“Dinner”>Dinner</option>
                    <option value=“Dessert”>Dessert</option>
                    <option value=“Drink”>Drink</option>
                  </select>
            </div>
        </div>
        <br>
        <br>

            <div class="frm-group">
                 <label>Upload an image: </label><input type="file" name="photo" class="submiting-btn center-block submit-btn"> </input>
                  <br>
                  <br>
            <button type="submit" class="btn btn-success center-block submit-btn submitBTN">Submit</button>
           

        <div class="clearfix">
            {{!-- <a href="#" class="center text-success">Forgot Password?</a>
            <br> --}}
            {{!-- <div class="hint-text small">Don't have an account? <a href="/signup" class="text-success">Register Now!</a></div> --}}
        </div>  
        
    </form>