.navbar-logo {
  float: left;
  height: 75px;
  padding-left: 0%; }

#home {
  background: url("../images/todd-quackenbush-700-unsplash copy.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100%; }

html, body {
  margin: 20;
  font-weight: 14px;
  font-family: 'Raleway', sans-serif; }

.error-message {
  color: darkred; }

#theRecipes, .theRecipes {
  padding-top: 7%;
  text-align: center; }

.recipeCol, h2 {
  font-size: 3vh; }

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px; }

.navbar-collapse {
  width: 50%; }

.navbar {
  margin-bottom: 1%;
  border-radius: 27;
  background: #446975;
  color: lightgray;
  padding: 0;
  font-size: 1em;
  border: 0; }

.navbar-header {
  width: 100%; }

.navbar-default .navbar-nav li a {
  color: lightgray; }

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {
  color: bisque;
  border-radius: 27; }

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100;
  color: lightgray; }

.landing-text, h1 {
  font-size: 5m;
  font-weight: 700; }

.login-form {
  width: 340px;
  margin: 30px auto; }

.login-form form {
  margin-bottom: 15px;
  background: lightgrey;
  opacity: 0.9;
  filter: alpha(opacity=100);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 30px; }

.login-form h2 {
  margin: 0 0 15px; }

.login-form .hint-text {
  color: #446975;
  padding-bottom: 15px;
  text-align: center; }

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px; }

.login-btn {
  font-size: 15px;
  font-weight: bold; }

.or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #ccc; }

.or-seperator i {
  padding: 0 10px;
  background: lightgrey;
  position: relative;
  top: -11px;
  z-index: 1; }

.social-btn .btn {
  margin: 10px 0;
  font-size: 15px;
  text-align: left;
  line-height: 24px; }

.social-btn .btn i {
  float: left;
  margin: 4px 15px  0 5px;
  min-width: 15px; }

.input-group-addon .fa {
  font-size: 18px; }

.login-form {
  width: 340px;
  margin: 30px auto; }

.login-form form {
  margin-bottom: 15px;
  background: lightgrey;
  opacity: 0.9;
  filter: alpha(opacity=100);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px; }

.login-form h2 {
  margin: 0 0 15px; }

.login-form .hint-text {
  color: #446975;
  padding-bottom: 15px;
  text-align: center; }

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px; }

.login-btn {
  font-size: 15px;
  font-weight: bold; }

.or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #ccc; }

.or-seperator i {
  padding: 0 10px;
  background: lightgrey;
  position: relative;
  top: -11px;
  z-index: 1; }

.social-btn .btn {
  margin: 10px 0;
  font-size: 15px;
  text-align: left;
  line-height: 24px; }

.social-btn .btn i {
  float: left;
  margin: 4px 15px  0 5px;
  min-width: 15px; }

.input-group-addon .fa {
  font-size: 18px; }

#submit-recipe {
  background: url("../images/ramiro-mendes-371655-unsplash.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  display: table;
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  color: black; }

.inputs-instruction {
  height: 30px;
  color: darkslategray;
  text-align: top; }

.submit-form {
  width: 340px;
  margin: 30px auto; }

.submit-control {
  width: 80%;
  height: 30%; }

.submit-form form {
  margin-bottom: 15px;
  background: lightgrey;
  opacity: 0.9;
  filter: alpha(opacity=100);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

.submit-form h2 {
  margin: 0 0 15px;
  color: black; }

.submit-form .hint-text {
  color: black;
  padding-bottom: 15px;
  text-align: center; }

.submit-control, .btn {
  min-height: 38px;
  border-radius: 2px; }

.submit-btn {
  font-size: 15px;
  font-weight: bold; }

.inputs-addon .fa {
  font-size: 18px; }

.submit-form {
  width: 540px;
  margin: 30px auto; }

.submit-form form {
  margin-bottom: 15px;
  background: lightgrey;
  opacity: 0.9;
  filter: alpha(opacity=100);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px; }

.submit-form h2 {
  color: black;
  margin: 0 0 15px; }

.submit-form .hint-text {
  color: black;
  padding-bottom: 15px;
  text-align: center; }

.submit-control, .btn {
  min-height: 38px;
  border-radius: 2px; }

.submit-btn {
  font-size: 15px;
  font-weight: bold;
  width: 30; }

.submit-btn {
  width: 30%;
  align-content: center; }

label {
  color: black; }

.inputs-addon {
  font-size: 18px;
  color: black; }

.container-fluid {
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.recipeList {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.recipeCol {
  width: 24%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2vh;
  padding: 0 5px; }

.centerStuff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.recipe-images {
  width: 75%;
  border-radius: 49%;
  height: 13em; }

#edit-recipe {
  background: url("..//images/nordwood-themes-162928-unsplash.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  display: table;
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  color: black; }

.edit-form {
  width: 340px;
  margin: 30px auto; }

.edit-control {
  width: 80%;
  height: 30%; }

.edit-form form {
  margin-bottom: 15px;
  background: lightgrey;
  opacity: 0.9;
  filter: alpha(opacity=100);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

.edit-form h2 {
  margin: 0 0 15px;
  color: black; }

.edit-form .hint-text {
  color: black;
  padding-bottom: 15px;
  text-align: center; }

.edit-control, .btn {
  min-height: 38px;
  border-radius: 2px; }

.edit-btn {
  font-size: 15px;
  font-weight: bold; }

.inputs-addon .fa {
  font-size: 18px; }

.edit-form {
  width: 540px;
  margin: 30px auto; }

.edit-form form {
  margin-bottom: 15px;
  background: lightgrey;
  opacity: 0.9;
  filter: alpha(opacity=100);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px; }

.edit-form h2 {
  color: black;
  margin: 0 0 15px; }

.edit-form .hint-text {
  color: black;
  padding-bottom: 15px;
  text-align: center; }

.edit-control, .btn {
  min-height: 38px;
  border-radius: 2px; }

.edit-btn {
  font-size: 15px;
  font-weight: bold;
  width: 30; }

.edit-btn {
  width: 30%;
  align-content: center; }

label {
  color: black; }

.inputs-addon {
  font-size: 18px;
  color: black; }

.edit {
  color: darkslategray; }

html {
  padding-top: 2%; }

.inputs {
  color: darkslategray; }

.frm-group {
  align-content: center;
  text-align: center; }

@media (max-width: 768px) {
  .landing-text h1 {
    font-size: 3m; } }

/*# sourceMappingURL=style.css.map */